<div class="container-fluid">
    <!-- Row for showing results -->
    <div class="row">

        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th class="table-center">Row</th>
                <th class="table-center">Status</th>
                <th class="table-center">Comments</th>
                <th class="table-center">Customer No.</th>
                <th class="table-center">Order Number</th>
                <th class="table-center">Order Date</th>
                <th class="table-center">Required Date</th>
                <th class="table-center">Shipped Date</th>
            </tr>
            </thead>

            <tbody>
            <% for(var a=0; a < orders.length; a++) { %>
            <tr>
                <th scope="row"><%=a+1 %></th>
                <td><%=orders[a].status %></td>
                <td><%=orders[a].comments %></td>
                <td><%=orders[a].customerNumber %></td>
                <td><%=orders[a].orderNumber %></td>
                <td><%=orders[a].orderDate %></td>
                <td><%=orders[a].requiredDate %></td>
                <td><%=orders[a].shippedDate %></td>
            </tr>
            <% } %>
            </tbody>

        </table>
    </div>

</div>